
@import './base.css';


#app {
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  place-items: center;

}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}





table.styled-table
{
  margin: 2px;

}


table.styled-table tr {

  border-bottom: solid 1px #efefef;

}


table.styled-table tr:nth-child(even) {
  background-color: var(--color-background-soft);
}

table.styled-table td {
  padding: 5px 8px;
}